# Elastic Beanstalk Node.js Platform Configuration
option_settings:
  # Instance settings
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    
  # Application environment
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    DB_SSL_CA_FILE: /var/app/current/certs/eu-north-1-rds-ca-rsa2048-g1.pem
    
  # Health check
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /health
    Port: 8080
    Protocol: HTTP
